@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 100vh;
    grid-template-areas: "navlat content";
}

/* navbar lateral */

.nav-lateral ul li a {
    padding: 15px;
}

/* container principal */

.body-content {
    grid-area: content;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-content .jumbotron {
    position: relative;
    box-shadow: 0px 0px 50px black;
}

/* borrão */

.body-content .blur {
    display: flex;
    position: absolute;
    width: 95vw;
    height: 100vh;
    clip-path: polygon(0 0, 43% 0, 30.1% 100%, 0% 100%);
    background-image: linear-gradient(to right, rgba(27, 27, 27, 1),rgba(27, 27, 27, 0.5),rgba(27, 27, 27, 0.5), rgba(27, 27, 27, 0));
    z-index: 2;
}

.body-content .imgblur {
    position: absolute;
    width: 95vw;
    clip-path: polygon(0 0, 43% 0, 30.1% 100%, 0% 100%);
    filter: blur(7px);
    z-index: 0;
}

.body-content .imgblur:not(.active) {
    display: none;
}

/* container descrições */

.body-content .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 43% 47%;
    grid-template-rows: 71% 29%;
    grid-template-areas:    "con emp"
                            "car car";
    background-size: 100%100%;
    background-repeat: no-repeat;
}

.body-content .container .container-prod {
    display: none;
    padding: 0 50px;
    width: 100%;
    grid-area: con;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.body-content .container .container-prod .content:not(.active) {
    display: none;
}

.body-content .container .container-prod .content .title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #D83953;
    text-transform: uppercase;
    transform: scaleY(2);
    letter-spacing: 2px;
}

.body-content .container .container-prod .content .subtitle {
    font-size: 14px;
}

.body-content .container .container-prod .content .content-text {
    margin-top: 0px;
    font-size: 14px;
    width: 70%;
    text-align: left;
}

.body-content .container .container-prod .container-button .button {
    margin-top: 50px;
    display: flex;
    border: none;
    padding: 18px 35px 18px 35px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #D83953;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.body-content .container .container-prod .container-button .button:hover {
    box-shadow: 3px 3px 25px #D83953;
}

.body-content .container .empty {
    grid-area: emp;
    z-index: 2;
}

/* carousel */

.body-content .container .centercarousel {
    width: 95vw;
    grid-area: car;
    z-index: 2;
    display: flex;
}

.body-content .container .centercarousel .carousel {
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    overflow: hidden;
    position: relative;
}

.body-content .container .centercarousel .carousel:hover span {
    color: #D83953;
    transition: 0.5s;
}

.body-content .container .centercarousel .carousel span {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    cursor: pointer;
    left: 1%;
    z-index: 4;
    width: 50px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content .container .centercarousel .carousel span:nth-of-type(2) {
    left: 95%;
    text-align: right;
}

.body-content .container .centercarousel .carousel .section {
    width: 1436px;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    margin: 10px auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.body-content .container .centercarousel .carousel .section::-webkit-scrollbar {
    display: none;
}

.body-content .container .centercarousel .carousel .section .carouseldiv {
    left: 0px;
    min-width: 28.2%;
    min-height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 20px;
    color: white;
    transition: 0.5s;
    clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.body-content .container .centercarousel .carousel .section .carouseldiv:not(.active) {
    transform: scale(0.75, 0.75);
    margin: auto -55px;
}

.body-content .container .centercarousel .carousel .section .carouseldiv .group-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.body-content .container .centercarousel .carousel .section .carouseldiv .group-elements .group-icn-nam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.body-content .container .centercarousel .carousel .section .carouseldiv .group-elements .group-icn-nam img {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.body-content .container .centercarousel .carousel .section .carouseldiv .group-elements .group-icn-nam .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    width: auto;
    padding: 5px 10px;
    background: #1b1b1b;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #D83953;
    color: #f1f1f1;
    display: none;
}

.body-content .container .centercarousel .carousel .section .carouseldiv .group-elements .group-icn-nam:hover .tooltip {
    display: block;
}

.body-content .loja {
    color: white;
    padding: 50px;
    width: 100%;
}

.body-content .loja p.title {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    transform: scaleY(2);
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.body-content .loja .card-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

.body-content .loja .card-group form {
    width: 300px;
    height: 500px;
}

.body-content .loja .card-group form .card {
    margin: 20px 10px;
    position: relative;
    color: black;
    background-color: white;
    box-shadow:  0 0 50px #000000;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 42% 8%;
    grid-template-areas:    "card-header"
                            "card-body"
                            "card-footer";
}

.body-content .loja .card-group form .card .card-header {
    grid-area: card-header;
}

.body-content .loja .card-group form .card .card-header img {
    border-radius: 8px 8px 0px 0px;
}

.body-content .loja .card-group form .card .card-body {
    grid-area: card-body;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.body-content .loja .card-group form .card .card-body .title {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    color: white;
    background-color: #1b1b1b;
    width: 100%;
    margin: 0;
}

.body-content .loja .card-group form .card .card-body .preco {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    transform: scaleY(1.5);
    color: #D83953;
}

.body-content .loja .card-group form .card .card-body .plataforma {
    text-align: center;
    color: #333;
}

.body-content .loja .card-group form .card .card-body .group-img-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.body-content .loja .card-group form .card .card-body .group-img-card img {
    padding: 8px;
    transition: all 0.2s ease;
    border-radius: 10px; 
    border: 3px solid white;
}

.body-content .loja .card-group form .card .card-body .group-img-card img.active-img-card {
    border: 3px solid #D83953;
}

.body-content .loja .card-group form .card .card-body .group-img-card img:hover:not(.active-img-card) {
    border: 3px solid #D83953;
    cursor: pointer;
}

.body-content .loja .card-group form .card .card-footer {
    grid-area: card-footer;
}

.body-content .loja .card-group form .card .card-footer .btn-card-loja {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #D83953;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.5px;
    border-radius: 0px 0px 8px 8px;
}

.body-content .loja .card-group form .card .card-footer .btn-card-loja:hover {
    background-color: #d80b2d;
}

.body-content .loja .card-group form .card .card-footer .btn-card-loja i {
    margin-right: 10px;
    font-size: 14px;
}