@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 100vh;
    grid-template-areas: "navlat content";
}

/* navbar lateral */

.nav-lateral ul li a {
    padding: 15px;
}

/* container principal */

.content {
    grid-area: content;
    padding: 0;
    margin: 0;
}